<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js">
  </script>
</head>

<body>
  <div class="" id="app">
    <div id="range__wrapper">
      <label for="range" class="range__label">{{ range }}%</label>
      <input @input="moveRange" type="range" name="range" id="range" class="range__input" v-model="range" step="0.1"
        min="0%" max="100" value="50">
      <div class="set__range-box">
        <span class="set__range" @click="setRange">
          25 %
        </span>
        <span class="set__range" @click="setRange">
          50 %
        </span>
        <span class="set__range" @click="setRange">
          75 %
        </span>
        <span class="set__range" @click="setRange">
          100 %
        </span>
      </div>
    </div>
  </div>
  
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          range: 50
        }
      },
      methods: {
        setRange: function(e) {
          const span = e.target
          let number = span.innerText.split(' ');

          this.range = number[0]
        }
      }
    })
  </script>
</body>

</html>